@import "variables";

body{
  margin: 0;
  background: #F4F4F4;
  color: $black;
  font-family: $font;
  font-weight: 400;
  width: 75%;
  margin: auto;
}
a{
  color: $black;
}

//--------header--------
header{
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: $m-m;
  @media(max-width: $break){
    display: block;
    text-align: center;
  }
  h1.header__logo, div.header__logo{
    margin: $m-m 0;
    width: 200px;
    @media(max-width: $break){
      margin: $m-m auto;
    }
    img{
      width: 100%;
    }
  }
  .header__links{
    margin-bottom: $m-m;
    span{
      display: inline-block;
      &:not(:first-child){
        margin-left: 19px;
      }
      img{
        vertical-align: text-bottom;
      }
      a{
        color: $black;
        transition: 0.1s;
        text-decoration: none;
      }
      a:hover{
        color: $black_after;
        text-decoration: underline;
      }
    }
  }
  &::after{
    content: "";
    width: 100vw;
    height: 2px;
    display: block;
    background: $black;
    position: absolute;
    left: 0;
  }
}

//--------footer--------
footer{
  background: #33294F;
  width: 100vw;
  transform: translateX(-12.5vw);
  .footer__wrapper{
    width: 75%;
    margin: auto;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    flex-wrap: wrap;
    @media(max-width: $break){
      display: block;
      text-align: center;
    }
    .footer__logo{
      margin: $m-m 0;
      width: 200px;
      @media(max-width: $break){
        margin: $m-m auto;
        padding-top: $m-m;
      }
      img{
        width: 100%;
      }
    }
    .footer__links{
      margin-bottom: $m-m;
      span{
        display: inline-block;
        margin-left: 19px;
        @media(max-width: $break){
          &:not(:nth-child(3)):not(:nth-child(4)){
            width: 100%;
            margin: 10px auto;
          }
          &:nth-child(3), &:nth-child(4){
            width: 50%;
            margin: 0;
            margin: 10px auto;
          }
        }
        a{
          color: $white;
          text-decoration: none;
        }
        a:hover{
          color: $white_after;
          text-decoration: underline;
        }
      }
    }
    .footer__copyright{
      width: 100%;
      text-align: center;
      color: $white;
      font-size: $font-s;
    }
  }
}