@import "variables";

main{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: $m-l;
  .main__wrap{
    width: 65%;
    @media(max-width:768px){
      width: 100%;
      margin-bottom: $m-m;
    }
    .main__cat{
      width: 100%;
      margin-bottom: $m-m;
      .cat__item{
        display: inline-block;
        text-align: center;
        margin: $m-s 0;
        margin-right: 20px;
        font-size: $font-s;
        span{
          display: inline-block;
          padding: $lang__pad;
          width: 100%;
          color: $white;
          @include langColors();
          a{
            color: $white;
            text-decoration: none;
          }
        }
        &:not(.cat_state_active){
          span{
            cursor: pointer;
            opacity: 0.5;
            transition: 0.1s;
          }
          span:hover{
            opacity: 1;
          }
        }
      }
    }
    .main__articles{
      display: flex;
      flex-wrap: wrap;
      .main__article{
        width: calc(50% - 10px);
        margin-bottom: $m-m;
        background: #fff;
        &:nth-child(even){
          margin-left: 10px;
          @media(max-width:768px){
            margin-left: 0;
          }
        }
        &:nth-child(odd){
          margin-right: 10px;
          @media(max-width:768px){
            margin-right: 0;
          }
        }
        @media(max-width:768px){
          width: 100%;
          display: flex;
        }
        .article__head{
          display: flex;
          justify-content: space-between;
          color: $white;
          padding-top: $lang__pad;
          padding-bottom: $lang__pad;
          @include langColors();
          .cat{
            margin-left: 10px;
            a{
              color: $white;
              transition: 0.1s;
              text-decoration: none;
            }
            a:hover{
              color: $white_after;
              text-decoration: underline;
            }
          }
          .date{
            margin-right: 10px;
            font-weight: $regular;
          }
          @media(max-width:768px){
            flex-wrap: wrap;
            text-align: center;
            width: min-content;
            padding: 5px 10px;
            margin-right: 20px;
            .cat{
              width: 100%;
              margin-left: 0;
            }
            .date{
              width: 100%;
              margin-right: 0;
            }
          }
        }
        h2.title{
          margin: $m-s 10px;
          font-size: $font-l;
          a{
            color: $black;
            transition: 0.1s;
            text-decoration: none;
          }
          a:hover{
            color: $black_after;
            text-decoration: underline;
          }
        }
      }
      .pagination{
        margin: auto;
        margin-top: $m-m;
        width: 100%;
        text-align: center;
        span.num, span.next{
          display: inline-block;
          position: relative;
          margin: 0 20px;
          a{
            text-decoration: none;
          }
          &.num_state_active{
            color: $white;
            a{
              color: $white;
            }
            &::before{
              background: $black;
            }
          }
          &::before{
            content: "";
            width: 1.5rem;
            height: 1.5rem;
            border: solid 2px;
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            z-index: -1;
          }
          //ページネーションのホバー周り保留
          &:not(.num_state_active){
            &:hover{
              a{
                color: $white;
              }
              &::bofore{
                background: $black;
              }
            }
          }
        }
        span.next{
          &::before{
            width: 50px;
          }
        }
      }
    }
  }
  .main__side{
    width: 25%;
    @media(max-width:768px){
      width: 100%;
    }
    h2:not(.popular__title){
      width: 100%;
      text-align: center;
      background: $black;
      color: $white;
      font-weight: $medium;
      font-size: $font-m;
      margin-bottom: $m-m;
    }
    .side__search{
      text-align: center;
      padding-bottom: $m-m;
      border-bottom: solid 2px $black;
      input{
        width: calc(100% - #{$font-m});
        height: $font-m;
        padding: $font-m / 2 $font-m / 2;
        display: block;
        border: none;
        box-shadow: inset 0 0 0 1.5px $black;
        margin-bottom: $m-s;
        background: $white;
      }
      button{
        width: 10vw;
        background: $white;
        box-shadow: none;
        border: none;
        box-shadow: inset 0 0 0 1.5px $black;
        font-weight: $medium;
        font-size: $font-m;
        line-height: $font-m + 0.5rem;
        height: $font-m + 0.5rem;
        transition: .1s;
        cursor: pointer;
        &:hover{
          background: $black;
          color: $white;
        }
      }
    }
    .side__author{
      figure{
        width: 100%;
        margin: 0;
        img{
          width: 100%;
        }
      }
      .author__links{
        span:not(:last-child){
          display: inline-block;
          margin-right: 10px;
        }
        span{
          img{
            width: $font-m + 0.2rem;
            vertical-align: text-bottom;
          }
        }
      }
      .devEnv{
        dd{
          margin: $font-m 0;
        }
      }
    }
    .side__popular{
      margin-bottom: $m-m;
      .popular__article{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-bottom: $m-s;
        color: $white;
        padding: $font-m - 0.2rem 0 $font-m 0;
        @include langColors();
        .popular__cat{
          margin-left: 5%;
          font-size: $font-s;
        }
        .popular__date{
          margin-right: 5%;
          font-size: $font-s;
        }
        h2.popular__title{
          width: 90%;
          margin: auto;
          font-weight: $medium;
          font-size: $font-m;
          margin-top: $font-s;
          margin-bottom: $font-m;
        }
        .popular__cat, h2.popular__title{
          a{
            color: $white;
            text-decoration: none;
          }
          a:hover{
            color: $white_after;
            text-decoration: underline;
          }
        }
      }
    }
  }
}