block variables
doctype html
html(lang=pageLang)
  head(prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# " + pageOgpType + ": http://ogp.me/ns/" + pageOgpType + "#")
  <meta http-equiv="content-type" charset="utf-8">
  include _style
  body
    .wrapper
      include _header

      block content

      include _footer
      include _script
